<p id="notice"><%= notice %></p>


<% @gist.file_lists.each do |file| %>
    <h3>
      <%= link_to @gist.file_lists.first.name, @gist %>
    </h3>
    <div class="editor"> <%= file.content%> </div>
<% end %>

<script src="http://ace.ajax.org/build/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  addAceToTextFileList("editor");
</script>
